*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
background:var(--color-bg);
color:white;
font-family:var(--font-body);
overflow-x:hidden;
}

img{
display:block;
max-width:100%;
}

button{
font-family:inherit;
}
html{

-webkit-font-smoothing:antialiased;

-moz-osx-font-smoothing:grayscale;

}