.journey{

    min-height:100vh;

    background:#07111d;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:120px;

}

.journey-header{

    text-align:center;

}

.chapter{

    color:var(--color-primary);

    letter-spacing:4px;

    margin-bottom:20px;

}

.journey h2{

    font-size:60px;

    margin-bottom:30px;

}

.journey-description{

    color:#cfcfcf;

    font-size:22px;

}